header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: sans-serif;
}

.HdImg {
    height: 10rem;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}
pre {
    font-size: 1.1rem;
}
.member {
    background-color: #fff;
    border: #000 solid .1rem;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
}
/*Sélecteur hiérarchique acendant/descendant*/
.member img {
    width: 80%;
    margin: 10%;
    border-radius: 50%;
}
#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.boy {
    background-image: radial-gradient(#fff, #f0f);
}
.girl {
    background-image: radial-gradient(#0d0, #fff);
}
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header, #intro {
    width: 90%;
    margin: auto;
}
#menu {
    margin: 2rem 0;
    background: #555;
    color: #eee;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}
#menu ul {
    padding:0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#menu a {
    font-family: "lato";
    color: #eee;
    text-decoration: none;
    padding: 5rem;
    transition: all .75s ease-in-out;
}
#menu a:hover {
    background: #eee;
    color: #555;
}